@charset "utf-8";

:root {
  --bgcolor-body: #232323;
  --color-all: #cdcdcd;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bgcolor-body);
  color: var(--color-all);
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: var(--color-all);
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}
