@charset "utf-8";

/* ---------------
   Header
   --------------- */
h2 {
  padding: 10px;
}

/* ---------------
   MENU 
   --------------- */
ul {
  /* display: flex; */
}
.index-main > li {
  list-style: none;
  border-radius: 6px;
  background-color: rgb(255 207 174);
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.index-main > li > a {
  text-decoration: none;
  color: black;
}

.index-main > li:hover {
  background-color: rgb(132, 182, 238);
  font-weight: bold;
  cursor: pointer;
}
