@charset "utf-8";

:root {
  --bgcolor-header: rgb(75 114 137);
  --bgcolor-footer: rgb(190, 211, 235);
  /* --bgcolor-footer: rgb(145 145 145); */
  --bgcolor-article: rgb(223 223 223);
  /* --bgcolor-edge-01: rgb(233 233 233); */
  --bgcolor-edge-01: rgba(134, 161, 177, 0.658);
  --bgcolor-list-01: rgb(255 207 174);
  --bgcolor-list-01-hover: rgb(132, 182, 238);
  --color-font-footer: rgb(70, 70, 70);
  --color-font-01: white;
  --color-font-02: rgb(70, 70, 70);
}

/* ---------------
   HEADER
   --------------- */
header {
  padding: 10px;
  display: block;
  /* justify-self: center;
  align-items: center; */
  width: 100%;
  height: 60px;
  background-color: var(--bgcolor-header);
}

header > h2 {
  text-align: center;
  color: var(--color-font-01);
  font-family: "Noto";
  font-size: 24px;
}

main {
  width: 100%;
  height: calc(100vh - 120px);
  background: linear-gradient(var(--bgcolor-header), var(--bgcolor-footer));
  overflow-y: auto;
}
/* ---------------
   MENU > study
   --------------- */
.menu-study {
  position: relative;
  margin: 10px;
  margin-top: 10px;
  background-color: var(--bgcolor-edge-01);
  border-radius: 10px;
  border: 1px solid #fff;
}

.menu-study > div {
  position: relative;
  padding-top: 5px;
  margin-left: 14px;
  font-size: 18px;
  /* font-weight: bold; */
  color: var(--color-font-01);
}

.menu-study > .index-main {
  display: flex;
}

.menu-study > .index-main > li {
  width: 50%;
  list-style: none;
  border-radius: 6px;
  background-color: var(--bgcolor-list-01);
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.menu-study > .index-main > li:hover {
  background-color: var(--bgcolor-list-01-hover);
  font-weight: bold;
  cursor: pointer;
}

/* ---------------
   MENU > section
   --------------- */
.menu-section {
  position: relative;
  margin: 10px;
  background-color: var(--bgcolor-edge-01);
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid darkslategray;
}
.menu-study:nth-of-type(1) {
  background-color: rgba(134, 161, 177, 0.658);
  .title {
    color: white;
  }
}

.menu-section > .title {
  position: relative;
  padding-top: 5px;
  padding-left: 0px;
  font-size: 18px;
  /* font-weight: bold; */
  color: var(--color-font-01);
}

.menu-section > .list {
  display: flex;
  justify-content: flex-start;
  overflow-y: none;
  overflow-x: auto;
}

.menu-section > .list > img {
  width: 50%;
  border-radius: 6px;
  /* padding: 5px; */
  margin: 10px 10px 10px 0px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

/* .menu-section > .list > img:hover {
    background-color: rgb(132, 182, 238);
    font-weight: bold;
    cursor: pointer;
  } */
/* --------------------------------
              FOOTER
 ---------------------------------- */
footer {
  position: absolute;
  top: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: var(--bgcolor-footer);
}

footer .footer-copyright {
  width: 100%;
  display: block;
  text-align: center;
  color: var(--color-font-footer);
}

@keyframes modifyArrow {
  50% {
    transform: translate(16px, -50%);
    /* 중복으로 인해 대체 되니까 -50%를 유지하면서 16px 이동 반복 */
  }
}
