@charset "utf-8";

:root {
  --bgcolor-header: rgb(75 114 137);
  --bgcolor-footer: rgb(9 26 47);
  --bgcolor-article: rgb(223 223 223);
  --bgcolor-edge-01: rgb(134 161 177 / 40%);
  --bgcolor-list-01: rgb(182 231 231 / 68%);
  --bgcolor-list-01-hover: rgb(255, 255, 255);
  --color-font-footer: rgb(70, 70, 70);
  --color-font-01: rgb(255, 255, 255);
  --color-font-02: rgb(70, 70, 70);
  --main-height: calc(100vh - 170px);
  --footer-height-copyright: 50px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/bg_cover_01.jpg");
}

/* ---------------
    HEADER
   --------------- */
header {
  padding: 10px;
  display: block;
  /* justify-self: center;
  align-items: center; */
  width: 100%;
  height: 130px;
  /* background-color: var(--bgcolor-header); */
}

header .header-edge {
  display: flex;
  flex-direction: row;
  position: relative;
  .h-summary {
    width: 70%;
    text-align: left;
  }
  .h-robotani {
    width: 30%;
  }
}

header span {
  text-align: center;
  color: var(--color-font-01);
  font-family: "Noto";
  font-size: 14px;
}

header span:nth-of-type(1) {
  font-size: 30px;
}

main {
  width: 100%;
  height: var(--main-height);
  overflow-y: auto;
  padding-top: 0px;
}

/* ---------------
    MENU > study
   --------------- */
.menu-study {
  position: relative;
  margin: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: var(--bgcolor-edge-01);
  border-radius: 10px;
  border: 1px solid darkslategray;
}

.menu-study > div {
  position: relative;
  padding-top: 5px;
  margin-left: 14px;
  font-size: 18px;
  color: var(--color-font-01);
}

.menu-study > .index-main {
  display: flex;
  flex-wrap: wrap;
}

.menu-study > .index-main > span {
  display: inline;
  /* width: 30%; */
  border-radius: 6px;
  background-color: var(--bgcolor-list-01);
  padding: 10px;
  margin: 10px;
  margin-left: 0px;
  color: black;
  font-size: 14px;
}

.menu-study > .index-main > span:hover {
  background-color: var(--bgcolor-list-01-hover);
  font-weight: bold;
  cursor: pointer;
  /* animation: menu_ani_right 0.5s 1 linear; */
}

/* -------------
    FOOTER
 --------------- */
footer {
  position: absolute;
  top: calc(100vh - 50px);
  /* position: fixed;
  bottom: 0px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--bgcolor-footer);
  height: 50px;
}

footer .footer-copyright {
  display: inline;
  color: white;
}

/* -------------
    animation
   ------------- */
@keyframes menu_ani_right {
  0% {
    padding-right: 10px;
  }
  100% {
    padding-right: 20px;
  }
}

/* 뷰포트의 가로너비가 1025px 이상인 경우 적용 : 데스크탑 환경 */
/* @media screen and (min-width: 1025px){ .. }

/* 뷰포트의 가로너비가 769px 이상 1024px 이하 : 태블릿 환경 */
/* @media screen and (min-width: 769px) and (max-width: 1024){ .. } */

/* 뷰포트의 가로너비가 768px 이하인 경우 적용 : 모바일 환경 */
/* @media screen and (min-width: 768px) {
  .menu-study > .index-main > span {
    width: 45%;
  }
} */

/* 장치가 가로 방향인 경우 적용 */
/* @media (orientation: landscape) {
  .menu-study > .index-main > span {
    width: 30%;
  }
} */

/* 장치가 세로 방향인 경우 적용 */
/* @media (orientation: portrait) {
  .menu-study > .index-main > span {
    width: 45%;
  }
} */
