@charset "utf-8";
:root {
  --home: rgb(221 192 172);
  --btn01: rgb(255, 233, 218);
  --btn01-hover: rgb(200, 250, 202);
  --footer: rgb(117 154 197);
}

/* ---------------
   Header
--------------- */
header {
  width: 100%;
  height: 60px; /* position fiexed시 뷰포트 기준으로 전환되어 width 100% 줘야 한다. */
  background-color: var(--home);
  position: sticky;
  display: flex;
  flex-direction: row;
}

/* header > .loading-home {
  background-color: var(--home);
  padding: 10px;
}

header > .loading-home:hover {
  background-color: white;
  color: rgb(107 100 96);
  cursor: pointer;
}

.loading-home-img {
  width: 40px;
  height: 40px;
} */

/* Heaer (title) */
header > .loading-title {
  padding: 10px;
  padding-right: 40px;
  width: 100%;
  text-align: center;
  /* color: white; */
}

/* -------------------------
            MENU 
------------------------- */
.menu-container {
  position: static;
  top: 60px;
  display: flex;
  flex-direction: row;
}

.menu-list {
  display: block;
  /* flex-direction: column; */
  /* display: list-item; */
  width: 260px;
}

/* 메뉴박스 */
.menu-list > .menu-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 50%; */
}

/* 메뉴박스 - 메뉴버튼 */
.menu-list > .menu-box > .menu-button {
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  background-color: var(--btn01);
  padding: 10px;
  margin: 10px;
  width: 180px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.menu-list > .menu-box:hover > .menu-button {
  background-color: var(--btn01-hover);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  /* animation: load-arrow 1s linear infinite; */
}

/* 메튜박스 - 메뉴 arrow */
.menu-list > .menu-box > .menu-arrow {
  display: block;
  width: 14px;
  opacity: 0;
}
.menu-list > .menu-box:hover > .menu-arrow {
  animation: load-arrow 1s linear infinite;
}

/*
Loading Progress
*/
.menu-container > #load-progress {
  display: block;
  width: 300px;
  padding-right: 20px;
}

/* --------------------------------
              FOOTER
 ---------------------------------- */
footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100vh - 120px); /* footer 크기에서 빼야 함 */
  width: 100%;
  height: 120px;
}

/* footer menu */
footer .footer-menu {
  display: inline;
  width: 50%;
  height: 60px;
  padding-left: 10px;
}

/* footer home */
footer .footer-menu .loading-home-img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

/* footer copyright */
footer .footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  text-align: center;
  color: white;
  background-color: var(--footer);
}
footer .footer-copyright > div {
  display: inline;
}

/* -------------------------------
        BUTTON wrap
 --------------------------------- */
/* .top-btn-wrap {
  right: 15px;
  display: block;
  position: fixed;
  top: unset;
  bottom: 37px;
  opacity: 1;
} */

/* -------------------------------
          keyframes list
   ------------------------------- */
@keyframes load-arrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
