@charset "utf-8";

:root {
  --bgcolor-header: rgb(255 251 226);
  --bgcolor-footer: rgb(255 255 255);
  --bgcolor-edge-01: rgb(255 235 175 / 53%);
  --color-font-footer: rgb(70 70 70);
  --color-font-01: black;
  --color-font-02: rgb(70 70 70);
  --main-height: calc(100vh - 170px);
  --bgcolor-btn-hover-01: bisque;
}

/* ---------------
    HEADER
   --------------- */
header {
  padding: 10px;
  display: block;
  /* justify-self: center;
  align-items: center; */
  width: 100%;
  height: 120px;
  background-color: var(--bgcolor-header);
}

header .header-edge {
  display: flex;
  flex-direction: row;
  position: relative;
  .h-summary {
    width: 70%;
    text-align: left;
  }
  /* HEADER LEFT */
  .h-robotani {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  /* HEADER RIGHT */
  .h-robotani div {
    display: flex;
    justify-content: flex-end;
  }
  .h-robotani div img {
    margin-left: 5px;
    cursor: pointer;
  }
  .h-robotani div img:hover {
    background-color: bisque;
  }
}

header span {
  text-align: center;
  color: var(--color-font-01);
  font-family: "Noto";
  font-size: 15px;
}

/* HEADER title */
header span:nth-of-type(1) {
  font-size: 24px;
  font-weight: bold;
}

main {
  width: 100%;
  height: var(--main-height);
  background: linear-gradient(var(--bgcolor-header), var(--bgcolor-footer));
  overflow-y: auto;
  padding-top: 0px;
}

/* ---------------
    MENU > section
  --------------- */
.menu-section {
  position: relative;
  margin: 10px;
  background-color: var(--bgcolor-edge-01);
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid darkslategray;
}

.menu-section > .title {
  position: relative;
  padding-top: 5px;
  padding-left: 0px;
  font-size: 18px;
  /* font-weight: bold; */
  color: var(--color-font-01);
}

.menu-section > .list {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}

.menu-section > .list > img {
  width: 120px;
  height: 120px;
  border-radius: 6px;
  margin: 10px 10px 10px 0px;
  object-fit: cover;
  object-position: left; /* center */
  cursor: pointer;
}

/* --------------------------------
              FOOTER
 ---------------------------------- */
footer {
  position: absolute;
  top: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50px;
  background-color: var(--bgcolor-footer);
}

footer nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: white;
  width: 100%;
}

footer nav div {
  text-align: center;
  width: 25%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer nav div:hover {
  background-color: var(--bgcolor-btn-hover-01);
  color: var(--color-font-01);
}

footer nav .btn-menu {
  display: flex;
  justify-content: cneter;
  align-items: center;
}

footer nav .btn-menu .btn-menu-hambuger {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 16px;
}

footer nav .btn-menu .btn-menu-hambuger span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: black;
}

footer nav .btn-menu span:nth-of-type(1) {
  position: absolute;
  top: 0px;
}
footer nav .btn-menu span:nth-of-type(3) {
  position: absolute;
  bottom: 0px;
}

/* 뷰포트의 가로너비가 1025px 이상인 경우 적용 : 데스크탑 환경 */
/* @media screen and (min-width: 1025px){ .. }

/* 뷰포트의 가로너비가 769px 이상 1024px 이하 : 태블릿 환경 */
/* @media screen and (min-width: 769px) and (max-width: 1024){ .. } */

/* 뷰포트의 가로너비가 768px 이하인 경우 적용 : 모바일 환경 */
@media screen and (min-width: 768px) {
  .menu-study > .index-main > span {
    width: 45%;
  }
}
/* 
/* 장치가 가로 방향인 경우 적용 */
@media (orientation: landscape) {
  .menu-study > .index-main > span {
    width: 30%;
  }
}

/* 장치가 세로 방향인 경우 적용 */
@media (orientation: portrait) {
  .menu-study > .index-main > span {
    width: 45%;
  }
}
