@charset "utf-8";

:root {
  --bgcolor-header: rgb(75 114 137);
  --bgcolor-footer: rgb(190, 211, 235);
  /* --bgcolor-footer: rgb(145 145 145); */
  --bgcolor-article: rgb(223 223 223);
  /* --bgcolor-edge-01: rgb(233 233 233); */
  --bgcolor-edge-01: rgba(134, 161, 177, 0.658);
  --bgcolor-list-01: rgb(255 207 174);
  --bgcolor-list-01-hover: rgb(132, 182, 238);
  --color-font-footer: rgb(70, 70, 70);
  --color-font-01: white;
  --color-font-02: rgb(70, 70, 70);
  --main-height: calc(100vh - 170px);
}

/* ---------------
   HEADER
   --------------- */
header {
  padding: 10px;
  display: block;
  /* justify-self: center;
  align-items: center; */
  width: 100%;
  height: 120px;
  background-color: var(--bgcolor-header);
}

header .header-edge {
  display: flex;
  flex-direction: row;
  position: relative;
  .h-summary {
    width: 70%;
    text-align: left;
  }
  .h-robotani {
    width: 30%;
  }
}

header span {
  text-align: center;
  color: var(--color-font-01);
  font-family: "Noto";
  font-size: 15px;
}

header span:nth-of-type(1) {
  font-size: 24px;
}

main {
  width: 100%;
  height: var(--main-height);
  background: linear-gradient(var(--bgcolor-header), var(--bgcolor-footer));
  overflow-y: auto;
  padding-top: 0px;
}

/* ---------------
   MENU > section
   --------------- */
.menu-section {
  position: relative;
  margin: 10px;
  background-color: var(--bgcolor-edge-01);
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid darkslategray;
}
.menu-study:nth-of-type(1) {
  background-color: rgba(134, 161, 177, 0.658);
  .title {
    color: white;
  }
}

.menu-section > .title {
  position: relative;
  padding-top: 5px;
  padding-left: 0px;
  font-size: 18px;
  /* font-weight: bold; */
  color: var(--color-font-01);
}

.menu-section > .list {
  display: flex;
  justify-content: flex-start;
  overflow-y: none;
  overflow-x: auto;
}

.menu-section > .list > img {
  width: 50%;
  border-radius: 6px;
  /* padding: 5px; */
  margin: 10px 10px 10px 0px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

/* --------------------------------
              FOOTER
 ---------------------------------- */
footer {
  position: absolute;
  top: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50px;
  background-color: var(--bgcolor-footer);
}

footer nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: white;
  width: 100%;
}

footer nav div {
  text-align: center;
  width: 25%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer nav div:hover {
  background-color: var(--bgcolor-header);
  color: var(--color-font-01);
}
